.workCard{
    padding:8px;
    width:45%;
    margin-top:16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.work-logo{
    height:80px;
}

.work-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.work-dates{
    color:gray;

}

.work-desc{
    text-align: left;

}

@media only screen and (max-width:720px){
    .work-card{
        width:100%;
    }
}